<h1>New RSVP for <%= @rsvp.date %></h1>

  <p><%= @rsvp.name %> has requested a table on <%= @rsvp.date %> for <%= @rsvp.size %> people.</p>
  <p><%= @rsvp.name%>'s email is <%= @rsvp.email %> and phone # is <%= @rsvp.phone %></p>

  <p>Their additional comments were:</p>
  <br />>
  <p><%= @rsvp.notes %></p>
